<%#登陆状态跳转内容%>
		<%- include('header'); %>
		<div class="focusbox">
			<div class="container">
				<h1 class="focusbox-title"><span>3</span>秒后返回主页</h1>
			</div>
		</div>
		<section class="container">
			<div class="excerpts-none">
				<%-status%>
			</div>
		</section>
		<%- include('footer'); %>
		<script type="text/javascript" src="/login/js/isOK-jumpTo.js"></script>
