<!DOCTYPE html>
<%#主模版%>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="cache-control" content="no-siteapp">
		<title><%-title%></title>
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" media="all">
		<script type="text/javascript" src="/public/js/jquery.js"></script>
		<script type="text/javascript" src="/public/js/main.js"></script>
		<script type="text/javascript" src="/public/js/current-menu-item.js"></script>
		<!--[if lt IE 9]><script src="/public/js/html5.js"></script><![endif]-->
	</head>

	<body class="archive category category-miaoxiezhen category-4 list-thumb-hover-action nav-fixed-top onecolum" style="" rlt="1">

		<%- body  %>

	</body>

</html>