<%#美图区页内容%>
		<script type="text/javascript" src="/picture/js/section-container-excerpts.js"></script>
		<%- include('header'); %>
		<div class="focusbox">
			<div class="container">
				<h1 class="focusbox-title">美图区</h1>
				<div class="focusbox-text">二次元和三次元你更喜欢那种呢(数据测试)</div>
			</div>
		</div>
		<section class="container">
			<div class="excerpts-wrapper">
				<div class="excerpts">
		
				</div>
			</div>
			<div class="pagination pagination-multi">
				<ul>
					<li class="prev-page"></li>
					<li class="active"><span>1</span></li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li class="next-page">
						<a href="#">下一页</a>
					</li>
					<li>
						<a href="#">尾页</a>
					</li>
					<li><span>共 5 页</span></li>
				</ul>
			</div>
		</section>
		<%- include('footer'); %>
