<%#后花园页内容%>
		<link rel="stylesheet" href="/relaxation/css/thumb.css" type="text/css">
	

		<%- include('header'); %>
		<div class="focusbox">
			<div class="container">
				<h1 class="focusbox-title">后花园</h1>
				<div class="focusbox-text">(数据库未连接)</div>
			</div>
		</div>
		<section class="container">
			<div class="excerpts-wrapper">
				<div class="excerpts">
					<article class="excerpt excerpt-c5 excerpt-hoverplugin addArticle"><a target="_blank" class="thumbnail" href="/relaxation/addArticle"><span class="thumb"></span></a><h2><a target="_blank" href="/relaxation/addArticle">戳这里发表你的文章</a></h2><footer><time>9012年了</time></footer></article>
				</div>
			</div>
			<div class="pagination pagination-multi">
				<ul>
					<li class="prev-page"></li>
					<li class="active"><span>1</span></li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li class="next-page">
						<a href="#">下一页</a>
					</li>
					<li>
						<a href="#">尾页</a>
					</li>
					<li><span>共 5 页</span></li>
				</ul>
			</div>
		</section>
		<%- include('footer'); %>
