<%#工作组页内容%>
		<link rel="stylesheet" href="/staff/css/staff-bgi.css" type="text/css">
		<script type="text/javascript" src="/staff/js/bodyClass.js"></script>
		
		
		<%- include('header'); %>
		<div class="focusbox">
			<div class="container">
				<h1 class="focusbox-title">工作组</h1>
				<div class="focusbox-text">(其实管理员天天熬夜睡到中午,并不吃早饭)</div>
			</div>
		</div>
		<section class="container">
			
			<header class="article-header">
				<h1 class="article-title">可以用QQ扫下面的二维码</h1>
			</header>

			<article class="article-content">
				<p style="text-align: center;">★</p>
			</article>

		</section>
		<%- include('footer'); %>
