.artc {
	position: relative;
	padding: 52px
}

.artc-box {
	border: 2px solid #ffcccc;
	padding: 5px 10px 0;
	border-radius: 2px;
	background-color: #fff;
	position: relative
}

.artc-area {
	width: 100%;
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
	border: none;
	line-height: 22px;
	font-size: 14px;
	outline: 0;
	color: #666;
	height: 202px
}
#artc-title{
	height: 26px
}
.artc-ctrl {
	background-color: #fbfbfb;
	height: 36px;
	margin-left: -10px;
	border-top: solid 1px #f2f2f2
}

.artc-submit {
	position: absolute;
	right: 50%;
	margin-right:-50px;
	border-radius: 3px;
	bottom: 0;
	background: #cc3366;
	border: none;
	border: 2px solid;
	border-color: #cc3366;
	border-left: none;
	border-top: none;
	padding: 0px;
	width: 100px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	outline: 0;
	font-size: 16px
}

@media (max-width: 544px) {
	.artc {
		padding: 52px 2px
	}
	
	.artc-submit {
		font-size: 12px
	}
}