{#头部模板#}

        <script type="text/javascript" src="/static/public/js/menu.js"></script>

		<header class="header">
			<div class="container">
				<div class="logo">
					<a href="#" title=""><img src="/static/public/img/header.png"><span>茶道部</span></a>
				</div>
				<div class="sitenav">
					<ul>
						<li class="menu-item">
							<a href="/music">音乐区</a>
						</li>
						<li class="menu-item">
							<a href="/picture">美图区</a>
						</li>
						<li class="menu-item">
							<a href="/library">图书馆</a>
						</li>
						<li class="menu-item">
							<a href="/relaxation">后花园</a>
						</li>
						<li class="menu-item">
							<a href="/staff">工作组</a>
						</li>
						<li class="menu-item menu-item-object-custom">

						</li>
					</ul>
				</div>
				<span class="sitenav-on"><i class="fa">&#xe605;</i></span>
				<span class="sitenav-mask"></span>
                
				<div class="usersign">

				</div>
                
				<div class="accounts"></div> <span class="searchstart-on"><i class="fa">&#xe600;</i></span>
				<span class="searchstart-off"><i class="fa">&#xe606;</i></span>
                
				<form method="get" class="searchform" action="/s/">
                {% csrf_token %}
					<button class="sbtn" type="submit"><i class="fa">&#xe600;</i></button><input class="sinput" name="wd" type="text" placeholder="输入关键字" value="">
				</form>
			</div>
		</header>