{% extends 'layout.html' %}
{#拼图内容#}

		{% block page-main %}
    
        {% include 'header.html' %}
		<div class="focusbox">
			<div class="container">
				<h1 class="focusbox-title">搜索功能未完成</h1>
                <div class="focusbox-text">所以放一个小游戏在这里敷衍一下</div>
			</div>
		</div>
            <div id="jigsawview">
				<div id='jigsaw00' class="jigsaw">
				</div>
				<div id='jigsaw01' class="jigsaw">
				</div>
				<div id='jigsaw02' class="jigsaw">
				</div>
				<div id='jigsaw03' class="jigsaw">
				</div>
				<div id='jigsaw10' class="jigsaw">
				</div>
				<div id='jigsaw11' class="jigsaw">
				</div>
				<div id='jigsaw12' class="jigsaw">
				</div>
				<div id='jigsaw13' class="jigsaw">
				</div>
				<div id='jigsaw20' class="jigsaw">
				</div>
				<div id='jigsaw21' class="jigsaw">
				</div>
				<div id='jigsaw22' class="jigsaw">
				</div>
				<div id='jigsaw23' class="jigsaw">
				</div>
				<div id='jigsaw30' class="jigsaw">
				</div>
				<div id='jigsaw31' class="jigsaw">
				</div>
				<div id='jigsaw32' class="jigsaw">
				</div>
				<div id='jigsaw33' class="jigsaw">
				</div>
				<div id='Controller'>
					<p>Are you Ok ?</p>
					<button id="btn">start</button>
				</div>
			</div>
        <link rel="stylesheet" href="/static/s/css/jigsaw.css">
		<script src="/static/s/js/jigsaw.js" type="text/javascript" charset="utf-8"></script>
        {% include 'footer.html' %}
            
        {% endblock %}
