{% extends 'layout.html' %}
{#后花园页内容#}

        {% block page-main %}
    
        {% include 'header_index.html' %}
        <script type="text/javascript" src="/static/relaxation/js/section-container-excerpts.js"></script>
        <div class="focusbox">
            <div class="container">
                <h1 class="focusbox-title">后花园</h1>
                <div class="focusbox-text">这里是上传分享的地方</div>
            </div>
        </div>
        <section class="container">
            <div class="excerpts-wrapper">
                <div class="excerpts">

                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    
        {% endblock %}
