{% extends 'layout.html' %}
{#介绍页内容#}

        {% block page-main %}
    
        {% include 'header.html' %}
        <script type="text/javascript" src="/static/staff/js/bodyClass.js"></script>

        <section class="container">
            
            <header class="article-header">
                <h1 class="article-title">部门介绍</h1>
            </header>

            <article class="article-content">
                <p style="text-align: center;">茶道部成立于2016/3/31</p>
                <p style="text-align: center;">现在已经倒闭了</p>
                <p style="text-align: center;">以上</p>
            </article>

        </section>
        {% include 'footer.html' %}
    
        {% endblock %}
