{% extends 'layout.html' %}
{#工作组页内容#}

		{% block page-main %}
    
        {% include 'header.html' %}
        <link rel="stylesheet" href="/static/staff/css/update-table.css" type="text/css">
		<section class="container">
			<article class="article-content">          
                <table border="1">
                    <tr><th colspan="2">工作组->更新日志</th></tr>
                    <tr><td>2019年1月01日19:29</td><td>cdb0.0项目开始启动 后台使用Koa2</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>2019年1月07日02:36</td><td>cdb1.0项目开始启动 更新了界面UI组件</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>2019年1月10日01:32</td><td>更新了登录注册功能</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>2019年1月20日03:32</td><td>更新了发表随笔功能</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>2019年3月10日02:27</td><td>cdb2.0项目开始启动 后台使用django</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>2019年3月12日23:45</td><td>删库 重新设计了表 用户表继承AbstractUser</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td rowspan="3">2019年3月17日16:38</td><td>所有表单调整为ajax请求</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>更新了ajax请求的弹窗层外观</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td rowspan="3">2019年3月20日17:06</td><td>更新了后花园和工作组界面图标</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>更新了未实现的功能的弹窗提示</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                </table>
			</article>

		</section>
        {% include 'footer.html' %}
    
        {% endblock %}
