table,th,td{
	border-color:#f58f98;
}
			
table{
	border-collapse: collapse;
	line-height: 30px;
	width:100%;
    text-align: center;
}
			
table tr:nth-child(odd){
	background:#ffe4e1;
}
			
table tr:nth-child(even){
	background:#fff0f5;
}
